.container {
}

.btn {
    background-color: DodgerBlue; /* Blue background */
    border: none; /* Remove borders */
    color: white; /* White text */
    padding: 12px 16px; /* Some padding */
    font-size: 16px; /* Set a font size */
    cursor: pointer; /* Mouse pointer on hover */
    text-align: right;
  }
  
  /* Darker background on mouse-over */
  .btn:hover {
    background-color: RoyalBlue;
    
  }


  .btn:before {
    content: url('../../Assets//square-add-button.png');
    width: 20px;
    float: left;
    margin-right: 5px;
    margin-top: -2px;
  }